In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-1.5.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.1/12.1 MB 66.2 MB/s eta 0:00:0000:0100:01
Collecting pytz>=2020.1
  Downloading pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 499.4/499.4 KB 74.7 MB/s eta 0:00:00
Collecting numpy>=1.21.0
  Downloading numpy-1.24.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.3/17.3 MB 36.0 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.8.1 in /home/pedro/data-engineering-zoomcamp/venv/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/pedro/data-engineering-zoomcamp/venv/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.24.2 pandas-1.5.3 pytz-2022.7.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
pd.__version__

'1.5.3'

In [6]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [13]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [15]:
from sqlalchemy import create_engine

In [16]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [17]:
engine.connect()

In [18]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [30]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [31]:
df = next(df_iter)

In [32]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [23]:
df.head(0).to_sql(con=engine, name='yellow_taxi_data', if_exists='append') # executa o ddl

0

In [33]:
%time df.to_sql(con=engine, name='yellow_taxi_data', if_exists='append')

CPU times: user 3.05 s, sys: 16.4 ms, total: 3.06 s
Wall time: 5.21 s

1000

In [34]:
from time import time

In [35]:
while True:
    t_start = time()
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(con=engine, name='yellow_taxi_data', if_exists='append')
    t_end = time()
    print(f'inserted another chunk... it took {t_end - t_start}')

inserted another chunk... it took 5.594053030014038
inserted another chunk... it took 5.557680606842041
inserted another chunk... it took 5.503568410873413
inserted another chunk... it took 5.463541269302368
inserted another chunk... it took 5.505581378936768
inserted another chunk... it took 5.453156232833862
inserted another chunk... it took 5.611849784851074
inserted another chunk... it took 5.469540119171143
inserted another chunk... it took 5.482964038848877
inserted another chunk... it took 5.504863977432251
inserted another chunk... it took 5.5268049240112305

/tmp/ipykernel_989/132960410.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk... it took 5.670241832733154
inserted another chunk... it took 3.616856575012207

StopIteration:

In [36]:
pwd

'/home/pedro/data-engineering-zoomcamp/week_1_basics_n_setup/2_docker_sql'

In [1]:
# ANOTHER VIDEO - 1.2.6 - SQL Refresher